/*  your css code here. If applicable */
body{
	background-color: #f5f5f5;
	font-family: Arial, sans-serif;
	padding:0;
	margin:0;
}
.container{
	width:90%;
	padding:10px;
	margin:20px auto;
}
.container .header{
	background-color:#011e29;
	color:white;
	text-align:center;
	padding:10px;
	box-sizing:content-box;
}
.content{
	display:flex;
	justify-content:center;	
	gap:5px;
	height:auto;
}
.latest-news-section{
	width:40%;
	height:50%;
	background-color:white;
	padding:5px;
	text-align:center;
	
	ul,li{
		font-size:0.9em
	}
}
.main-section{
	background-color:white;
	text-align:center;
	width:50%;
	padding:5px;
	p{
		font-size:11px;
	}
}
.pictorial-news-section{
	width:50%;
	height:auto;
	background-color:white;
	text-align:center;
	padding:5px;
	img{
		width:90%;
	}
}